<div class="container">
  <p>Lista de equipos</p>
  <button routerLink="/add" type="button" class="btn btn-primary">Agregar</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Otro</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipo of listarEquipos">
        <td>{{ equipo.id }}</td>
        <td>{{ equipo.nombre }}</td>
        <td>{{ equipo.otro }}</td>
        <td><button (click)="modificar(equipo.id!)" type="button" class="btn btn-primary">Editar</button></td>
        <td><button  (click)="eliminar(equipo.id!)" type="button"  class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
