<div class="container">
  <p>Modificar</p>
  <div class="row">
    <form>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input
        [(ngModel)]="equipo.nombre"
          type="text"
          class="form-control"
          name="nombre"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">otro</label>
        <input
        [(ngModel)]="equipo.otro"
          type="text"
          class="form-control"
          name="otro"
        />
      </div>
      <button (click)="modificar()" type="button" class="btn btn-primary">Modificar</button>
    </form>
  </div>
</div>
